body {
    margin: 5%
}

/*
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
*/


.header {
/*    border: 1px solid #ffffe6;*/
/*    background-color: #ffffe6;*/
    background-image: url(../images/Nature___Islands_____A_small_island_with_trees_078308_.jpg);
    display: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    padding-bottom: 7%;
    text-align: center;
        
}

.header img {
    margin-top: 16%;
    border-radius: 30%;
    height: 15%;
    width: 8%;    
}

h1 {
    text-align: center;
    font-family: monospace;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.0rem;
    font-weight: 900;
}

main {
    background-image:url(../images/ocean-floor.jpg);
    background-size: 100%;
    display: cover;
    background-repeat: no-repeat;
    

}

.assignments {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: monospace;
}

.weeks {
    padding-top: 15%;
    padding-bottom: 10%;
}

.weeks a {
    text-decoration: none;
    color: black;
}

.weeks h2 {
    font-family: serif
}

a:hover {
    font-size: 1.1em;
    color:red;
}

a:visited {
    color: #990000;
    
}

.weeks h2 {
    text-decoration: none;
    color:black;
    font-size: 1.5em; 
}