body {
    width: 100%;
}

.my_header {
    text-align: center;
    font-family: impact;
}

.my_header h1 {
    font-size: 16rem;
}

.big_boy img {
    width: 100%;
    border-radius: 35px;
}

.extra p {
    font-size: 3rem;
    color: black;
    text-shadow: 2px 2px gray;
/*    width: 100%;*/
    padding-top: 20%;
/*
    padding-left: 8%;
    padding-right: 8%;
*/
    text-align: center;
    
}

.info form {
    margin-top: 3%;
    width: 100%;
    font-size: 2.4rem;
}
.buy {
    font-size: 3rem;
    width: 100%;
    margin-top: 50%;
/*
    margin-left: 8%;
    margin-right: 8%;
*/
}

.buy a {
    color: #5d091a;
    border: 3px solid black;
    padding: 3%;
}


@media (max-width: 990px) {
    .banner h1 {
        font-size: 5rem;
    }
}

@media (max-width: 850px) {
    .extra {
        display: none;
    }
    .info form {
        font-size: 2rem;
    }
}

@media (max-width: 990px) {
    .buy a {
        display: none;
    }
}

/*
@media (max-width: 990px min-width: 800) {
    .info form {
        margin-top: -100px; 
    }
}*/
