.my_top {
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/24/10/70/24107062b5006ab6e0e2ef87a4536c1a.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 500px;
    background-size: cover;
}

.my_top h1 {
    color: #831fe0;
}

.my_top p {
    margin-top: 160px;
    color: cornsilk;
}

.startrek {
    height: 200px;
    width: 100%;
}

.my_second {
    margin-top: 2%;
}

.big_one h2 {
    padding-top: 40px;
}

.hide_me {
    visibility: hidden;
}

.my_foot {
    width: 750px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.my_foot a {
    font-size: 3rem;
    color: #ccad00;
}

@media (max-width: 1000px) {
    .my_top {
        height: 600px;
        width: 750px;
    }
    img {
        height: 200px;
    }
    #bottom_big {
        margin-top: 410px;
    }
} 

@media (max-width: 769px) and (min-width: 660px) {
    #bottom_big {
        margin-top: 0;
    }
}

@media (max-width: 660px) {
    .my_top {
        height: 300px;
        width: 390px;
    }
    .startrek {
        height: 390px;
    }
    #bottom_big {
        margin-top: 0;
    }
    .my_foot {
        width: 390px;
    }
} 