body {
    width: 100%;
}
.my_project {
    background-color: black;
    color: #fffff0;
    font-family: 'Cabin Sketch', cursive;    
}

#phone_nav {
    background-color: black;
}

.phone_filmmakers {
    padding-left: 2%;
}

.phone_about {
    padding-left: 8%;
}

.little_nav {
    width: 100%;
}

.little_nav a {
    text-decoration: none;
    color: #fffff0;
}

.my_top {
    background-image: url(http://cdn.theatlantic.com/static/mt/assets/science/assets_c/2013/07/Desert-Gas%20James%20Reeves%20670-thumb-650x365-127937.jpg);
    background-size: cover;
    height: 680px;  
}

.at_symbol {
    font-family: sans-serif;
}

.top_text {
    padding-top: 12%;
    font-size: 10rem;
}

.the_encounter {
    margin-top: 1%;
    padding-top: 10%;
    padding-bottom: 2%;
}
.my_about p {
    font-size: 2rem;
    font-family: serif;
}

.second_p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 82%;
}

.team img {
    width: 50%;
}

.team p {
    font-size: 2rem;
}

.team a {
    text-decoration: none;
    color: #fffff0; 
}

.my_project a:hover {
    color: #cb3434;
}

a:hover {
    color: #cb3434;
}

.my_team {
    margin-top: 10%;
}

#darren {
    height: 280px;
}

#maryn {
    height: 280px;
    opacity: .8;
}

#andrew {
    height: 400px;
}

#felipe {
    height: 400px;
}

#violence {
    background-image: url(../images/website_violence.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-top: 7%;
}

#discourse {
    padding-top: 7%;
    line-height: 40px;
    font-size: 2.2rem;
    font-family: 'Cabin Sketch', cursive;
}

#sensitive {
    margin-top: 23%;
    color: #cb3434;
    font-size: 2.4rem;
    font-weight: 700;
    text-shadow: 1px 1px black;
    font-family: 'Cabin Sketch', cursive; 
}

#intention {
    color: #cb3434;
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 3%;
    text-shadow: 1px 1px black;
    color: #cb3434;
    font-family: 'Cabin Sketch', cursive; 
}

 
.hide_me {
    visibility: hidden;
}

.nav_2 {
    text-align: center; 
    padding-top: 1%;
}

.my_contact {
    padding-left: 40%;
}

.my_home {
    padding-right: 40%;
}

.nav_2 a {
    text-decoration: none;
    color: #fffff0;
    font-size: 2rem;
    
}

#my_home {
    margin-left: 10px
}

.my_awards {
    height: 150px;
    width: 80%;
    opacity: .9;
    margin-top: 10%;
}

.awards {
    margin-top: 4%;
}
.awards p {
    font-size: 1.7rem;
}


.my_foot {
    margin-top: 6%;
    padding-bottom: 3%;
}
.my_foot p {
    font-size: 1.8rem;
}

@media (max-width: 1080px) {
    .my_top {
        height: 470px;
    }

@media (max-width: 1000px) {
    .my_top {
        height: 450px;
    }
    
    .my_contact {
        padding-left: 5%;
    }
    
    .my_home {
        padding-right: 5%;
    }
    
    .nav_2 {
        
    }
    #main_home {
        font-size: 8rem;
    }
}

@media (max-width: 995px) {
    .my_awards {
        height: 125px;
        width: 40%;
    }

@media (max-width: 975px) {
    #violence {
        height: 500px;
    }
    #sensitive {
        font-size: 2rem;
        margin-top: 18%;
    }
    #intention {
        font-size: 2rem;
    }
    
    #andrew {
        height: 200px;
        width: 120px;
    }
    #felipe {
        height: 200px;
        width: 120px;
    }
    #darren {
        height: 150px;
        width: 150px;
    }
    #maryn {
        height: 150px;
        width: 150px;
    }
    
    #bragging {
        margin-top: 0;
    }
    
    .my_awards {
        height: 100px;
        width: 30%;
    }
    
    
@media (max-width: 800px) {
    .my_top {
        margin-top: 10%;
    }
    #main_home {
        font-size: 8rem;
    }
}

@media (max-width: 770px) {
    .my_about p {
        font-size: 1.4rem;
        margin-top: 0;
    }
    
    #main_home {
        padding-top: 5%;
    }
    .my_top {
        height: 370px;
    }
}

@media (max-width: 750px) {
    .my_top {
        height: 340px;
    }
    #main_home {
        font-size: 8rem;
    }
}

@media (max-width: 700px) {
    .my_top {
        height: 325px;
    }
    #main_home {
        padding-top: 5%;
    }
}

@media (max-width: 675px) {
    #main_home {
        font-size: 5rem;
    }
    #violence {
        height: 400px;
    }
    #sensitive {
        font-size: 1.7rem;
        margin-top: 12%;
    }
    #intention {
        font-size: 1.7rem;
    }
    #discourse {
        font-size: 1.6rem;
    }
}

@media (max-width: 660px) {
    .my_top {
        height: 350px;
    }
    .my_about p {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .my_top {
        height: 270px;
    }
    .the_encounter {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .my_top {
        height: 240px;
    }
}

@media (max-width: 500px) {
    .my_top {
        height: 225px;
        margin-top: 15%;
    }
    
    
    .my_team h2 {
        font-size: 2.4rem;
    }
    
    .team p {
        font-size: 1.3rem;
    }
    #andrew {
        height: 150px;
        width: 110px;
    }
    #felipe {
        height: 150px;
        width: 110px;
    }
    #darren {
        height: 100px;
        width: 100px;
    }
    #maryn {
        height: 100px;
        width: 100px;
    }
    #violence {
        height: 300px;
    }
    #discourse {
        font-size: 1.2rem;
        line-height: 30px
    }
    
    #sensitive {
        font-size: 1.3rem;
        margin-top: 60px;
    }
    
    #intention {
        font-size: 1.3rem;
    }
    
    .my_awards {
        height: 80px;
        width: 120px;
    }
    
    .awards p {
        font-size: 1.4rem;
    }
    
    .my_foot h2 {
        font-size: 2rem;
        margin-top: 12%;
    }
    
}
    
@media (max-width: 470px) {
    
    .my_top {
        height: 220px;
    }
    #main_home {
        font-size: 4rem;
        padding-top: 5%;
    }
    
    .my_top h2 {
        font-size: 2.3rem;
    }
    
    #violence {
        height: 280px;
    }
