body {
    width: 100%;
}
.my_project {
    background-color: black;
    color: #fffff0;
    font-family: 'Cabin Sketch', cursive; 
    
}

.my_top {
    background-image: url(http://cdn.theatlantic.com/static/mt/assets/science/assets_c/2013/07/Desert-Gas%20James%20Reeves%20670-thumb-650x365-127937.jpg);
    background-size: cover;
    height: 600px;
    
}

.top_text {
    padding-top: 12%;
    font-size: 10rem;
}

/*
.my_project > .navbar.navbar-inverse {
    background-color: black;
}
*/

/*
.my_nav li {
    padding-right: 150px
}
*/

/*
.nav_2 td {
    width: 200px;
    margin-right: 16%;
    }
*/
    

.nav_2 {
    text-align: center; 
}

.my_contact {
    padding-left: 40%;
}

.my_home {
    padding-right: 40%;
}

.nav_2 a {
    text-decoration: none;
    color: #fffff0;
    font-size: 2rem;
    
}

#my_home {
    margin-left: 10px
}

.navbar-brand {
    padding-right: 150px;
}
