main {
    background-image: url(../img/sub_header_home.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
}

.text {
    padding-top: 160px;
    color: white;
}

h1 {
    font-size: 3rem;
}

.img_text {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 2;
    padding-top: 1%;
}

h2 {
    font-weight: 600;
}

.img_text p {
    font-size: .8rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    .img_text {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .img_text {
        width: 100%;
    }
} 