h1, a {
    font-family: sans-serif;
    color: white;
}

.garden {
    background-image: url('../img/1.jpg');
    text-align: center;
    line-height: 3;
    background-size: cover;
}

.transformers {
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    height: 90px;
}

p {
    font-family: serif;
    color: white;
}

.garden > div {
    background-color: rgba(0,0,0, .5);
    padding: 100px 0;
}

#contact {
    background-color: #A5DF00;
    padding: 7px;
    font-size: .6rem;
    text-transform: uppercase;
    text-decoration: none;
}

/*Section Page Styling*/

#uno {
    background-image: url(../img/featured-image-3.jpg);
/*    background-size: cover;*/
    height: 205px;
}

#dos {
    background-image: url(../img/featured-image-4.jpg);
/*    margin-top: 8%;*/
    height: 205px;
    margin-top: 25px;
}

#tres {
    background-image: url(../img/featured-image-5.jpg);
    background-size: cover;
    width: 65%;
    float: left;
    margin-left: 2%;
    height: 435px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.opacity > div {
    background-color: rgba(0,0,0, .6);
    height: 100%;
    padding-left: 14%;
    
}

.opacity {
    width: 100%;
}

.left {
    float: left;
    width: 30%; 
}

main {
    line-height: 2.5;
    margin-left: 5%;
    margin-right: 5%;
    height: 500px;
}

h2 {
    color: #A5DF00;
}

#about {
    background-color: #424242;
    padding: 9px;
    text-decoration: none;
    font-size: .6rem;
    text-transform: uppercase;
}

#products {
    background-color: clear;
    padding: 7px;
    text-decoration: none;
    font-size: .6rem;
    border: .5px solid white;
    text-transform: uppercase;
}