* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

}
p {
    font-size: 14px;
}

.left {
    background-color: #55a747;
    float: left;
    width: 50%;
    color: white;

}

.right {
    background-color: #313131;
    width: 50%;
    float: left;
    color: white;
}

nav {
    float: left;
    color: white;
    background-color: #313131;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

main a {
    border: .5px solid white;
    float: right;
}
