html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin-right: 3%;
    margin-left: 3%;
}

.my_heading {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;   
}

.my_heading h1 {
    font-weight: 200;
}

.big_one {
    margin-left: 115px;
    width: 350px;
    height: 300px;
    float: left;
    font-weight: 300;
    background-color: #f0f2f4;
    padding: 12px;
}

.big_one p {
    width: 90%;
    font-size: .9rem;
}

.big_one h2 {
    font-weight: 200;
    font-size: 1.2rem;
}
.big_one img {
    width: 345px;
}

.big_one a {
    margin-left: 70%;
    color: green;
}

.small_one {
    width: 320px;
    height: 360px;
    margin-left: 25px;
    float: left;
}

.text_image {
    background-color: #f0f2f4;
    height: 90px;
    margin-bottom: 6px;
    padding: 7px;
}

.text_image img {
    height: 85px;
    width: 140px;
}

.text_image h2 {
    font-size: .95rem;
    font-weight: 300;
    margin-top: -1%;
}

.text_image p {
    margin-top: -1%;
    font-size: .7rem;
    font-weight: 300;
}
.small {
    width: 40%;
    height: 20%;
    float: left;
}

.small_text {
    padding-left: 2%;
    width: 50%;
    float: left;
}

footer {
    font-weight: 200;
    width: 720px;
    height: 140px;
    margin-left: 110px;
    clear: both;
    border-top: .5px solid black;
    border-bottom: .5px solid black;


}

span {
    color: green;
}

ul {
    list-style-type: none;

}

ul li {
    padding-top: 2%;
    padding-bottom: 2%;
}
hr {
    clear: both;
    width: 720px;
}

.selling {
    width: 199px;
    height: 110px;
    float: left;
    font-size: .6rem;
    font-weight: 300;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.selling li:first-child {
    font-size: .9rem;
}

.selling h2 {
    font-size: .9rem;
    font-weight: 300;
}

.selling a {
    color: green;
    margin-left: 75px;
}

#lines {
    border-left: .3px solid black;
    border-right: .3px solid black;


}






/*.clearfix:after {*/
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
/*}*/