html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.my_heading {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;   
}

.my_heading h1 {
    font-weight: 200;
}

.big_one {
    margin: 3%;
    width: 45%;
    float: left;
    font-weight: 300;
}

.big_one h2 {
    font-weight: 200
}
.big_one img {
    width: 85%
}

.small_one {
    margin: 2%;
    width: 45%;
    float: left;
}

.text_image img {
    height: 15%;
    width: 30%
}

.text_image h2 {
    font-size: .95rem;
    font-weight: 300;
}

.text_image p {
    font-size: .8rem;
    font-weight: 300;
}
.small {
    width: 40%;
    height: 20%;
    float: left;
}

.small_text {
    width: 50%;
    float: left;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

footer {
    float: left;
    font-weight: 200;
}

span {
    color: green;
}

ul {
    list-style-type: none;
}