body, html {
    margin-left: 7%;
    margin-right: 5%;
}

.image_text {
    background-image: url(../img/nasa-background.jpg);
    width: 90%;
    height: 400px;
}

.text {
    width: 100%;
    padding-top: 18%;
    text-align: center;
}


.text h1 {
    color: white;
    font-size: 4rem;
    font-family: sans-serif;
    text-transform: uppercase;
}

#space {
    width: 850px;
    height: 450px;
}

.words {
    background-color: #DCDCDC;
    margin-top: 3%;
    width: 90%;
    height: 315px;
    margin-bottom: 5%;
    font-family: sans-serif
}

.words ul {
    list-style-type: none;
}

.media {
    float: left;
    padding-right: 5px;
    width: 270px;
}
.info {
    float: left;
    padding-right: 5px;
    width: 270px;
}

.media li:first-child {
    font-weight: 900;
    margin-bottom: 15px;
    padding-top: 15px;
}

.clearfix {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.info li:first-child {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
    padding-top: 15px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info li {
    margin-bottom: 5px;
}

.media li {
    margin-bottom: 5px;
    padding-left: 15px;
}

.contact {
    float: left; 
    width: 100px;
    padding-bottom: 10px;
}

.contact p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#name {
    padding:4%;
}

#message {
    height: 45px;
    width: 124px;
}

.button {
    text-decoration: none;
    display: block;
    color: white;
    background-color:  #434d56;
    height: 30px;
    width: 80px;
    padding-top: 8px;
    margin-top: 11px;
    text-align: center;
}