body {
    margin: 5%;
    font-family: 'Combo', cursive;
}

#first {
    height: 300px;
    width: 400px;
}

#second {
    height: 300px;
    width: 180px;
}

#third {
    height: 300px;
    width: 350px;
}

.pics {
    background-color: dimgray;
    padding: 2%;
    text-align: center;
}

.text h2 {
    font-size: 1.2rem;
    color: aqua;
}

.text span {
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 900;
    color: red;
}

.list {
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 5%;
}

h1 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #8FBC8F;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.text {
    float: left;
    text-align: left;
    padding: 2%;
}

.video {
    margin-top: 5%;
}