* {
    margin: 0;
    padding: 0;
}

section {
    width:500px
        
main {
    width: 50%;
    background-color: rgb(240,240,240);
    padding-bottom: 155px;
    padding-top: 140px;
    }
}
.berry {
    float:left;
    width:50%;  
}
h1 {
    color: #252b3b;
    font-size:1.9em;
}
.berry > img {
    max-width: 100%;
}
.words {
    float:right;
    text-align: center;
    width: 50%;
    background-color: rgb(240,240,240);
    padding-bottom: 155px;
    padding-top: 140px;
    
}
#more {
    font-weight: 900;
    color: #252b3b;
    border: solid 2px #555;
    padding: 5px;
    text-decoration: none;
}
#delicious {
    color:#555;
    padding-bottom: 20px;
}
