boxes {
    width:500px
}
.berry {
    100%;
    float:left;
}
.berry > img {
    height: 100%;
    width: auto;
}
.words {
    float:right;
}
#more {
    font-weight: 900;
    color: #252b3b;
    border: solid 2px #555;
    padding: 5px;
    text-decoration: none;
}