body {
    width: 100%;
}
main {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.top {
    background-color: #21B6A8;
    height: 270px;
    line-height: 270px;
}

.middle {
    background-color: black;
    height: 270px;
    line-height: 270px;
}

/*
.middle h2 {
    padding-top: 105px;
}
*/

footer {
    background-color: deepskyblue;
    height: 270px;
    padding-top: 45px;
    padding-bottom: 15px;
    color: white;
}

/*
h1 {
    padding-top: 105px;
}
*/

footer h2 {
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 15px;
}
.block {
    height: 27px;
    width: 170px;
    margin: auto;
}

.block_text {
    float: left;
    width: 15%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#black {
    background-color: black;
}

#orange {
    background-color: coral;
}

#aqua {
    background-color: #21B6A8;
}

#white {
    background-color: white;
}

@media (max-width: 767px) {
    .top {
        width: 50%;
        float: left;
        line-height: 80px;
    }
    .middle {
        width: 50%;
        float: left;
        line-height: 70px;
    }

    h1 {
        padding-top: 10%;
        padding-left: 7%;
    }
    main h2 {
        width: 80%;
        padding-top: 10%;
        padding-left: 10%;
    }
    main {
        width: 100%; 
    }
    .clearfix {
        clear: both;
    }
/*
    .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
*/
}
    .block_text {
        width: 25%;
        margin-left: 10%;
        padding-bottom: 5%;
    }
    footer {
        height: 600px;
    }
}